/*master styles*/
body{
    margin:0px;
}
/*.container{
    display:grid;
    grid-template-columns: 1fr;
}*/
/*navbar styles*/
.navContainer{
    justify-content:space-between;
    display:flex;
    padding:40px;
}
.leftSide{
    display:flex;
}
.linkContainer{
    margin-right:20px;
    font-size:0.8em;
    height:25px;
    border-bottom:2px;
}
.linkContainer a {
    color:blue;
}
.linkContainer a:hover{
    color:blueviolet;
}

img{
    height:350px;
    width:410px;
   
}

.subtitle{
    font-weight:600;
    color:red;
    transition:1s;
    
}
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr
}

.profile-content-wrapper{
    padding:30px;
}
.profile-content-wrapper h1{
    color:blueviolet;
}
.profile-content-wrapper h2{
    color:blueviolet;
}